/* ================== MUSIC PLAYER ================== */
#music-player {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #24132d;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  border-top: 1px solid #3c1f4c;
}

.player-controls i {
  font-size: 1.5rem;
  margin: 0 10px;
  cursor: pointer;
}

.player-info span {
  font-size: 1rem;
}

.player-volume i {
  font-size: 1.2rem;
  cursor: pointer;
}
